.lebarweb {
    background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.navbar {
border: 4px solid #000;
background: #006838;
flex-shrink: 0;
border: 4px solid #000;
background: #006838;
position: fixed;
top: 0;
width: 100%;
left: 0;
}

.navbar ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}

.navbar li {
display: inline;
text-align: center;
padding: 20px 30px;
display: inline-block;
}

.navbar li:hover {
color: white;
cursor: pointer;
}

.home {
color: #fff;
font-family: Super Snack;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.home:hover{
    color : #a59910;
}

.offers {
color: #fff;
font-family: Super Snack;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
text-align: center;
}

.offers:hover{
    color: #a59910;
}

.place{
color: #fff;
font-family: Super Snack;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.place:hover{
    color: #a59910;
}

.about {
color: #fff;
font-family: Super Snack;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.about:hover{
    color: #a59910;
}

/* Membuat PELEX BOXKS Menu 🥰😱*/

.container{
    display: flex;
    width: 1000px;
    height: 350px;
    flex-wrap: nowrap; /* Jika Anda ingin item tetap dalam satu baris */
    overflow-x: auto; /* Untuk scrolling horizontal */
    padding: 20px; /* Padding di dalam container */
}

.container > .item{
    border: 4px solid black;
    padding: 20px;
    margin: 5px;
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

/* Image 😎 */

.container > .item > img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px; /* Membuat sudut gambar membulat */
}

/* font🤩 */

.container > .item > p {
    font-family: Super snack;
    margin: 5px 0;
    font-size: 16px; /* Ukuran font */
    color: #333; /* Warna font */
}

/* hover 🥶 */

.container > .item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Agar Responsif🥺 */

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Mengubah arah flex menjadi vertikal di layar kecil */
    }

    .container > .item {
        width: 100%; /* Mengatur lebar item menjadi penuh */
        margin-bottom: 10px; /* Jarak antar item */
    }
}
