            /* Lebar web */
.lebarweb{
    width: 100%;
    height: 100%;
}

            /* Kolom Navigasi */ 
.topnav{
    width: 1512px;
    height: 40px;
    flex-shrink: 0;
    border: 3px solid #000;
    background: #648813;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

            /* Kolom Menu */
.home{             
    color: #FFF;
    font-family: Super Snack;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.offers{
    color: #FFF;
    font-family: Super Snack;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.place{
    color: #FFF;
    font-family: Super Snack;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.about{
    color: #FFF;
    font-family: Super Snack;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

            /* Gambar Nav Logo */
.lucu{
    top: 50%;
    height: 40px;
    flex-shrink: 0;
    text-align: center;
    margin: auto;
}

            /* Gambar Background Home */
.segawon{
    width: 45%;
    position: fixed;
    top:0;
    left:300px;
}

.rawon{
    width: 30%;
    position: fixed;
    top: 400px;
    left: 30%;
}

.rawonsegawon {
    padding-top: 0%;
}




