.lebarweb {
  background: #a59910;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  border: 4px solid #000;
  background: #006838;
  flex-shrink: 0;
  border: 4px solid #000;
  background: #006838;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.navbar li {
  display: inline;
  text-align: center;
  padding: 20px 30px;
  display: inline-block;
}

.navbar li:hover {
  color: white;
  cursor: pointer;
}

.home {
  color: #fff;
  font-family: Super Snack;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.home:hover{
  color : #a59910;
}

.offers {
  color: #fff;
  font-family: Super Snack;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

.offers:hover{
  color: #a59910;
}

.place {
  color: #fff;
  font-family: Super Snack;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.place:hover{
  color: #a59910;
}

.about {
  color: #fff;
  font-family: Super Snack;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.about:hover{
  color: #a59910;
}

.lunch {
  width: 151px;
  height: 73px;
  flex-shrink: 0;
  margin: auto;
}

.segawon {
    display: block;
    margin-top: 100px;
    width: 900px;
    left: 123px;
}

.rawon{
    display: block;
    width: 500px;
}

.text1 {
  position: relative;
  width: 340px;
  margin-top: 415px;
  margin-left: 250px;
  text-align: left;
  font-family: Super Snack;
  font-weight: 400;
  color: #006838;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.text2 {
  position: relative;
  width: 340px;
  margin-top: 415px;
  margin-right: 0px;
  text-align: right;
  font-family: Super Snack;
  font-weight: 400;
  color: #006838;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap {
  position: absolute;
  display: block;
  width: 280px;
  height: 54px;
  top: 687px;
  left: 600px;
  background-color: #006838;
  border-radius: 25px;
  border: 3px solid;
  border-color: #000000;
}

.menu {
  position: relative;
  display: block;
  text-align: center;
  font-family: Super Snack;
  font-weight: 900;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: no wrap;
  cursor: pointer;
}

.menu:hover{
  color: #a59910;
}

.textorder {
  position: relative;
  top: 63px;
  left: 2px;
  font-family: Super Snack;
  font-weight: 400;
  color: #006838;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.divrawon{
  margin-right: 920px;
}