.Hello:link {
    color:rgb(255, 0, 0);
}
.Hello:hover {
    color: green;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
}
.Hello:active {
    font-style: italic;
}
section p:hover {
    color: green;
    cursor: pointer
}
/* section p.paragraf {
    color: black;
} */
/* last-child and nth-child(buat kelipatan(contoh 2n,3n,3n=1,3n-2, even=genap, odd=ganjil) */
li:first-child a {
    color: red;
}
p:first-of-type{
    color:red;
}

/* contoh lain last-of=type */