h1 { color: #010056;
    font-size: 100px;
}
a{text-decoration: none;}
body {
    background-color: aqua;
}
p { color: #ff009d;
    letter-spacing: 5px ;
    text-align: justify;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow: #ff0000;
    text-indent: 100px;
}